# requirements.txt

# Core Data Handling
pandas
openpyxl # For reading/writing .xlsx files with pandas
numpy    # Fundamental for numerical operations
xlrd
xlwt

# Machine Learning Core
scikit-learn # For various ML utilities, transformers, and model selection
xgboost      # The gradient boosting library

# Natural Language Processing
spacy        # For advanced text processing and word embeddings
nltk     # If you plan to use NLTK's stop words, stemmers, etc.
Flask
